doctype html
html(lang="en")
  head
    title Account Created
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
      }
  body
    .container
      .card(text-center)
        .card-body
          h1.card-title Account Successfully Created!
          p.card-text Your account has been created and verified successfully.
          a.btn.btn-primary(href=Registration) Go to #{User} Registration Page 
